[user]
qmk_home = /Users/{{ .chezmoi.username }}/.config/qmk
overlay_dir = /Users/{{ .chezmoi.username }}/.config/qmk_userspace
keyboard = {{ if eq .chezmoi.hostname "imac" }}ergodox_ez{{ else }}zsa/moonlander{{ end }}
keymap = kvndrsslr

[find]
keymap = default

[mass_compile]
keymap = default

[config]

[console]

[general]

